* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* Banner Styles */
.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(img/Worst_Generation.webp);
    background-size: cover;
    background-position: center;
}

/* Navbar Styles */
.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 50px;
    margin-left: -50px;
    width: 100px;
    cursor: pointer;
    color: white;
    font-weight: bold;
}

.logo:hover {
    color: cyan;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.navbar ul li::after {
    content: "";
    height: 3px;
    width: 0;
    background: cyan;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover:after {
    width: 100%;
}

/* Content Styles */
.content {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    text-align: center;
}

.content h1 {
    font-size: 70px;
    margin-top: 80px;
}

.content p {
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}

.content button {
    width: 200px;
    padding: 15px 0;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid cyan;
    background: transparent;
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.content button span {
    background: cyan;
    height: 100%;
    width: 0%;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

.content button:hover span {
    width: 100%;
}

.content button:hover {
    border: none;
}

/* News Section */

.blog-section{
    width: 100%;
    background: no-repeat center/100% url(img/paper.jpg) ;
}

.blog-section .section-content{
    width: 85%;
    margin:  20px auto;
}

.blog-section .section-content .title{
    width: 60%;
    text-align: center;
    margin: auto;
}

.blog-section .section-content .title h1{
    font-size: 40px;
    font-weight: normal;
    text-transform: uppercase;
    color: white;
    background-color: rgb(255, 0, 0);
    border-radius: 5px;
    text-shadow: 0 0 5px black;
}
.title h1::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 3px;
    background-color: gold;
    bottom: -110px;
    left: 50%;
    transform: translateX(-50%);
    animation: animate 4s linear infinite;
}
.blog-section .section-content .title p{
    font-size: 20px;
    font-family: calibri;
    color: white;
    margin-top: 10px;
    text-shadow: 0 0 5px black;
}
.blog-section .section-content .cards{
    background-color: rgba(127, 255, 212, 0);
    display:grid;
    
    grid-template-columns: repeat(1,1fr);
    grid-gap: 0cap;
    margin-left: 25px auto;
}
.blog-section .section-content .cards .card{
    width: 100%;
    background-color: rgba(211, 211, 211, 0);
    position:relative;
    box-shadow: 0px 0px 15px rgb(0, 0, 0);
    
}
.blog-section .section-content .cards .card img{
    width: 100%;
    height: 250px;
    border-radius: 9px;
}
.blog-section .section-content .cards .card .article{
    padding: 15px 20px;
}
.blog-section .section-content .cards .card .article h4{
    font-size: 20px;
    width: 100%;
    color: black;
    text-shadow: 0 0 10px gold;
}
.blog-section .section-content .cards .card .article p{
    font-size: 15px;
    color: black;
    margin: 10px 0px;
    font-family: tahoma;
}
.blog-section .section-content .cards .card .blog-view{
    padding-bottom: 20px;
    padding-right: 10px;
}
.blog-section .section-content .cards .card .blog-view a{
    text-decoration: none;
    display: inline-block;
    background-color: #ac7467;
    padding: 10px 15px;
    margin-left: 20px;
    color: rgb(0, 0, 0);
    border-radius: 20px;

}
.blog-section .section-content .cards .card .blog-view a:hover{
    background-color: rgb(18, 184, 255);
    color: black;
    box-shadow: 0 0 15px gold;
    -webkit-text-fill-color: black;
    -webkit-text-stroke-width: 0.5px;
}
.blog-section .section-content .cards .card .posted-date p{
    font-weight: 600;
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    background-color: gold;
    padding: 6px 15px;
}

@media screen and (max-width: 992px) {
    .blog-section .section-content .cards{
        grid-template-columns: repeat(2, 1fr);
    }
    
}

@media screen and (max-width: 768px) {
    .blog-section .section-content .cards{
        grid-template-columns: 1fr;
    }
}

/* About Section Styles */
.about-section {
    background-color: rgb(91, 177, 252);
    width: 100%;
}

.heading {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-top: 20px;
}

.heading h1 {
    font-size: 50px;
    color: darkgreen;
    margin-bottom: 25px;
    position: relative;
}

.heading h1::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    display: block;
    margin: 0 auto;
    background-color: darkgreen;
}

.heading p {
    font-size: 18px;
    color: green;
    margin-bottom: 35px;
}

.container {
    width: 90%;
    margin-bottom: 100px;
    padding: 50px;
}

.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.about-image {
    flex: 1;
    margin-right: 40px;
    overflow: hidden;
}

.about-image img {
    max-width: 100%;
    height: auto;
    display: block;
    transition: 0.5s ease;
}

.about-image:hover img {
    transform: scale(1.2);
}

.about-content {
    flex: 1;
}

.about-content h2 {
    margin-bottom: 15px;
    font-size: 23px;
    color: darkgreen;
}

.about-content p {
    font-size: 18px;
    color: black;
    line-height: 1.5;
}

.about-content .read-more {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(40, 78, 250);
    color: rgb(0, 0, 0);
    font-size: 19px;
    text-decoration: none;
    border-radius: 25px;
    margin-top: 15px;
    transition: 0.3s ease;
}

.about-content .read-more:hover {
    background-color: darkgreen;
    color: white;
}

@media screen and (max-width: 768px) {
    .heading {
        padding: 0px 20px;
    }

    .heading h1 {
        font-size: 36px;
    }

    .heading p {
        font-size: 17px;
        margin-bottom: 0px;
    }

    .container {
        padding: 0px;
    }

    .about {
        padding: 20px;
        flex-direction: column;
    }

    .about-image {
        margin-right: 0px;
        margin-bottom: 20px;
    }

    .about-content {
        padding: 0px;
        font-size: 16px;
    }

    .about-content .read-more {
        font-size: 16px;
    }
}

/*gallery-page*/
.gallery {
    background-color: rgb(1, 52, 52);
    margin-bottom: 200px;
    padding-top: 10px;
}

.gallery input {
    display: none;
}

.gallery .gallery-container {
    width: 100%;
    text-align: center;
}

.gallery h1 {
    font-weight: normal;
    position: relative;
    font-size: 35px;
    margin: 40px 0;
}

.gallery h1::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 3px;
    background-color: crimson;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    animation: animate 4s linear infinite;
}

@keyframes animate {
    0% {
        width: 100px;
    }
    50% {
        width: 200px;
    }
    100% {
        width: 100px;
    }
}

.gallery .top-content {
    background-color: rgb(50, 214, 214);
    width: 90%;
    margin: 0 auto 20px auto;
    height: 60px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    box-shadow: 3px 3px 5px lightgrey;
}

.gallery h3 {
    height: 100%;
    line-height: 60px;
    padding: 0 50px;
    background-color: rgb(0, 170, 255);
    color: white;
}

.gallery label {
    display: inline-block;
    height: 100%;
    margin: 0 20px;
    line-height: 60px;
    font-size: 18px;
    color: gray;
    cursor: pointer;
    transition: color 0.5s;
}

.gallery label:hover {
    color: black;
}

.gallery .photo-gallery {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.gallery .pic {
    position: relative;
    height: 230px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
    cursor: pointer;
    transition: 0.5s;
}

.gallery .pic img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: 0.5s;
}

.gallery .pic::before {
    content: "WORST GENERATION";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 22px;
    font-weight: bold;
    width: 100%;
    margin-top: -100px;
    opacity: 0;
    transform: 0.3s;
    transition-delay: 0.2s;
    z-index: 1;
}

.gallery .pic:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    width: 100%;
    height: 0;
    background-color: rgb(0, 0, 0, 0.4);
    transition: 0.3s;
}

.gallery .pic:hover::after {
    height: 100%;
}

.gallery .pic:hover::before {
    margin-top: 0;
    opacity: 1;
}

.gallery #check1:checked ~ .gallery-container .photo-gallery .pic {
    opacity: 1;
    transform: scale(1);
    position: relative;
    transition: 0.5s;
}

.gallery #check2:checked ~ .gallery-container .photo-gallery .MaleCharacters {
    opacity: 1;
    transform: scale(1);
    position: relative;
}

.gallery #check2:checked ~ .gallery-container .photo-gallery .FemaleCharacters,
.gallery #check2:checked ~ .gallery-container .photo-gallery .Outing {
    opacity: 1;
    transform: scale(0);
    position: absolute;
    transition: 0s;
}

.gallery #check3:checked ~ .gallery-container .photo-gallery .FemaleChracters {
    opacity: 1;
    transform: scale(1);
    position: relative;
}

.gallery #check3:checked ~ .gallery-container .photo-gallery .MaleCharacters,
.gallery #check3:checked ~ .gallery-container .photo-gallery .Outing {
    opacity: 1;
    transform: scale(0);
    position: absolute;
    transition: 0s;
}

.gallery #check4:checked .gallery-container .photo-gallery .FemaleCharacters {
    opacity: 1;
    transform: scale(1);
    position: relative;
}

.gallery #check4:checked ~ .gallery-container .photo-gallery .MaleCharacters,
.gallery #check4:checked ~ .gallery-container .photo-gallery .FemaleCharacters {
    opacity: 1;
    transform: scale(0);
    position: absolute;
    transition: 0s;
}

@media screen and (max-width: 992px) {
    .gallery .photo-gallery {
        width: 90%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
    }
}

@media screen and (max-width: 768px) {
    .gallery h1 {
        font-weight: normal;
        position: relative;
        font-size: 28px;
        margin: 40px 0;
    }

    .gallery h3 {
        display: none;
    }

    .gallery label {
        height: 100%;
        font-size: 11px;
        color: gray;
        cursor: pointer;
        transition: color 0.5s;
    }

    .gallery label:hover {
        color: black;
    }

    .gallery .photo-gallery {
        width: 80%;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr;
    }
}